.processes-block
    display flex
    flex-wrap nowrap
    align-content center
    flex-grow 1
    flex-shrink 1
    flex-basis 300px
    list-style none
    overflow hidden
    padding-left 10px
    .processes-item
        flex-basis 25%
        position relative
        font-size 16px
        line-height 16px
        padding 14px 30px 20px 20px
        z-index 1
        cursor pointer
        a
            color white
        &:before
            top 0px
            bottom 50%
            transform skewX(15deg) translateX(-5px)
        &:after
            top 49%
            bottom 0px
            transform skewX(-15deg) translateX(-5px)
        &:first-child
            &:before
                width 200%
                transform skewX(15deg) translateX(-50%)
            &:after
                width 200%
                transform skewX(-15deg) translateX(-50%)
    .process-icon
        display block
        font-size 30px
        margin-bottom 10px
    .title
        display block
        font-size 14px
        font-weight bold
        margin-bottom 4px
    .active .title
        display block
        font-size 14px
        line-height: 40px;
        color white
        

.processes-block .processes-item:first-child:before,
.processes-block .processes-item:first-child:after
    content ""
    position absolute
    z-index -1
    left 0px
    right 0px

.processes-block .processes-item:first-child:before,
.processes-block .processes-item:first-child:after
    width 200%

.processes-block .processes-item.active:before,
.processes-block .processes-item.active:after
    background-color #009626
    

@media (max-width: 600px)
    .processes-block
        flex-direction column
        padding-left 0px
        .process-icon
            float left
            height 100%
            margin-right 20px
            margin-bottom 20px
        .processes-item
            &:before
                border-left 0 none
                border-bottom 4px solid white
                top 0
                bottom 0
                left 0
                transform skewY(5deg) translateX(0px)
                width 50%
            &:after
                border-left 0 none
                border-bottom 4px solid white
                left auto
                top 0
                bottom 0
                right 0
                transform skewY(-5deg) translateX(0px)
                width 50%
            &:first-child
                &:before
                    width 50%
                    height 200%
                    transform skewY(5deg) translateY(-50%)
                &:after
                    width 50%
                    height 200%
                    transform skewY(-5deg) translateY(-50%)

    .processes-block .process-icon,
    .processes-block .title,
    .processes-block .description
        position relative
        z-index 5

    .processes-block .processes-item:last-child:before,
    .processes-block .processes-item:last-child:after
        width 50%
        height 200%