@require "../container/home.styl"
.badge 
    background-color: #BA004C !important;
    border-radius: 10px !important;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    
.navbar
    transition 0.2s ease-in-out
    background-color #6B3C0D
    +for_breakpoint(uplg)
        background-color #f6f6f6
        color white
        a
            text-decoration none
        .navup
            background-color #6B3C0D
            font-size 14px
            transition 0.2s ease-in-out
            height 60px
            color white
            transition 0.2s ease
            .nav-link
                color white !important
                &:hover
                    color black
                    transition 0.4s ease
        .navbar-nav
        overflow hidden
        color white
        .nav-link
            position relative
            z-index 1
            color black
            letter-spacing 2px
            text-transform uppercase
            font-weight 700
            font-size 14px
            transition color 0.2s ease-in-out
           +for_breakpoint(uplg)
                color black 
                letter-spacing 0
                font-size 1em
                &:after
                    position absolute
                    bottom 0
                    right 0
                    left 0
                    display block
                    content ""
                    transform translate3d(0,125%,0)
                    z-index -1
                &:hover:after
                    transform translate3d(0,0,0);
                    transition transform .3s cubic-bezier(0.11, 0.7, 0, 1);
                &:hover
                    color black
        +for_breakpoint(uplg)       
            .nav-link:before,.nav-link:after
                content ''
                position absolute
                bottom 0
                right 0
                height 2px
                width 0
                background #6B3C0D
                transition 400ms ease all
            .nav-link:hover:before,.nav-link:hover:after
                width 100%
                transition 800ms ease all
    .navbar-brand
        width 85px
        padding 10px 15px
        z-index 10
        position absolute
        top 0
        +for_breakpoint(uplg)
            position relative
            margin-left 15px
            width 110px


#menuanim
    width 60px
    height 45px
    position relative
    margin 0px auto
    transform rotate(0deg)
    transition .5s ease-in-out
    cursor pointer
    span
        display block
        position absolute
        height 6px
        width 100%
        background white
        opacity 1
        left 0
        transform rotate(0deg)
        transition .25s ease-in-out
        &:nth-child(1)
            top 0
        &:nth-child(2)
            top 20px
        &:nth-child(3)
            top 20px
        &:nth-child(4)
            top 40px

.logo
    width 200px 
    height 70px
    +for_breakpoint(uplg)
        width 250px 
        height 150px