@require "../container/home.styl"
.bkg-section
	background white
	padding 3em
.breadcrumb
	background  transparent
	+for_breakpoint(uplg)
		font-size 0.8em
	a
		color #009626
		&:hover
			text-decoration overline !important
	.breadcrumb-item
		&:before
			color #009626 !important
		&.active
			color grey
			font-weight 400
	+for_breakpoint(xs)
		font-size 0.7em
	+for_breakpoint(uplg)
		&.profile
			margin-left 190px
#ProfileTour
	position relative
	.video
		position absolute
		z-index 3
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		display:block;
.btn-link
	background-color: #BA004C;
	color: #fff !important;
	font-size: 14px;
	transition 0.6 ease
	&:hover
		background #BA004C
.btn-book
	background-color: #BA1600
	color: #fff !important;
	font-size: 14px;
	text-decoration noen		
		
.btn-360
	background-color: #009619;
	color: #fff !important;
	font-size: 14px;

.btn-360, .btn-link ,.btn-book
	-moz-user-select: none;
	border-radius: none;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	

