.embed-container
    position relative
    height auto
    overflow hidden
    max-width 100%
   
.videomodalcont
    .modal-body
        padding 0 !important
    .modal-dialog
        margin-top 15vh
.carousel-control-prev-icon,.carousel-control-next-icon
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;